---



---

<div class="custom-block notice newsletter-footer">
  <div class="custom-block-heading nw-title">
    <strong>Subscribe to my monthly newsletter!</strong>
  </div>

  <form
    id="newsletter-form"
    name="newsletter-form"
    accept-charset="UTF-8"
    autocomplete="off"
    enctype="multipart/form-data"
    method="post"
    action="/api/newsletter"
  >
    <div class="form-group">
      <label for="subsemail">
        Please enter your email ID
        <input
          id="subsemail"
          name="subsemail"
          type="email"
          spellcheck="false"
          maxlength={511}
          placeholder="This will remain private."
          required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        />
      </label>
    </div>
    <div class="form-group">
      <button
        id="saveNLForm"
        name="saveNLForm"
        class="btn submit"
        type="submit"
      >
        Sign me up!
      </button>
    </div>

    <div class="custom-block-body">
      You have successfully registered for my newsletter!
    </div>
  </form>
</div>
