.title {
  font-size: var(--text-3xl);
  font-family: var(--serif-font);
  font-weight: 400;

  &::before {
    margin-top: 3em;
    margin-bottom: 1em;
    content: '';
    display: block;
    width: 2em;
    height: 0.125rem;
    background-color: var(--text-color);
  }
}

.form {
  max-width: 100%;
}

.label {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: var(--monospace-font);
  font-size: var(--text-sm);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.input,
.textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0.75em 0.5em;
  vertical-align: top;
  overflow: visible;
  color: var(--text-color);
  font-family: var(--sans-serif-font);
  font-size: 16px;
  background: var(--input-background-color);
  border: 1px solid var(--input-background-color);
  border-radius: 0.25em;
  -webkit-appearance: none;

  &:focus:required {
    box-shadow: 0 0 0 0.2rem var(--danger-color);
  }
}

.textarea {
  resize: vertical;
}

.row {
  margin-bottom: 1em;

  @media (--large-up) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .label + .label {
      padding-left: 0.5em;
    }

    /* fix reCAPTCHA iframe overflow */
    &.g-recaptcha > * {
      margin-left: 0.5em;
      padding: 0;
    }
  }
}

.submit {
  display: inline-block;
  padding: 1em 1.5em;
  font-family: var(--monospace-font);
  font-size: var(--text-sm);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border-radius: var(--border-radius);
  border: 0;
  cursor: pointer;

  &:not(:disabled) {
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: initial;
  }

  &:hover {
    background-color: color-mod(var(--secondary-color) tint(25%));
    color: #fff;
    text-decoration: none;
  }

  &:visited {
    color: #fff;
  }
}

.instructions {
  margin-top: 2rem;
  color: var(--muted-text-color);
  font-size: var(--text-xs);

  p {
    margin-bottom: 0.5rem;
  }
}
