---

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
  className?: string;
};

const {
  href,
  external,
  underline = true,
  group = false,
  className,
  ...rest
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={className}
  {...rest}
>
  <slot />
</a>
